*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 100px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  padding: 20px 116px;
}
header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
header .header .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
header .header .list span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header .inputForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header .inputForm .bx-search {
  margin-left: -30px;
}
header .header .katalogBtn {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(112, 192, 91);
}
header .header .katalogBtn .bx-menu {
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-right: 5px;
}
header .header select {
  padding: 10px 20px;
  /* Desc/Text/S */
  color: rgb(35, 35, 35);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(112, 192, 91);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding: 10px 20px;
  /* Desc/Text/S */
  color: rgb(143, 143, 143);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

button {
  border: none;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.herro {
  background-image: url(../assets/images/homeimg/bg-herro.png);
  width: 100%;
  height: 200px;
  background-repeat: repeat;
  background-size: contain;
}
.herro .herro-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.herro .herro-info h2 {
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

main .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .discount .discount-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .discount .discount-title h3 {
  /* Desc/Header/M */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
main .discount .discount-title button {
  /* Desc/Text/S */
  color: rgb(96, 96, 96);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .discount .discount-title button .bx-chevron-right {
  font-size: 24px;
}
main .discount .discount-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
main .discount .discount-products .discount-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  padding: 10px;
}
main .discount .discount-products .discount-card .product-image {
  width: 100%;
  height: 150px;
}/*# sourceMappingURL=main.css.map */