*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 100px;
}

body {
  background: rgb(229, 229, 229);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 16px;
  }
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  left: 0;
  background-color: #c7e2d9;
}
.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.navbar .logo h1 {
  color: #000;
}
.navbar .catalog-list {
  display: none;
  position: absolute;
  top: 100px;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
  right: 0;
  left: 0;
  gap: 20px;
  margin: 0 auto;
  padding: 20px 100px;
  background-color: #fff;
}
.navbar .catalog-list li {
  /* Desc/Text-Bold/S */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .catalog-list li:hover {
  color: rgb(255, 102, 51);
}
.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.navbar .nav-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
}
.navbar .sidebar {
  display: none;
}
.navbar .nav-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #70c05b;
  padding: 10px 20px;
  border-radius: 10px;
}
.navbar .nav-catalog a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 20px;
}
.navbar .nav-search i {
  margin-left: -24px;
}
.navbar .nav-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}

@media screen and ((min-width: 768px) and (max-width: 1200px)) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    background-color: #c7e2d9;
  }
  .navbar .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .navbar .logo h1 {
    color: #000;
    display: none;
  }
  .navbar .catalog-list {
    display: none;
    position: absolute;
    top: 100px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #fff;
    right: 0;
    left: 0;
    gap: 20px;
    margin: 0 auto;
    padding: 20px 100px;
    background-color: #fff;
  }
  .navbar .catalog-list li {
    /* Desc/Text-Bold/S */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar .catalog-list li:hover {
    color: rgb(255, 102, 51);
  }
  .navbar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .navbar .nav-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
  }
  .navbar .sidebar {
    display: none;
  }
  .navbar .nav-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background-color: #70c05b;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .navbar .nav-catalog a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .navbar .nav-search i {
    margin-left: -24px;
  }
  .navbar .nav-select {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    position: relative;
  }
  .navbar .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .navbar .logo h1 {
    display: none;
    color: #000;
  }
  .navbar .catalog-list {
    display: none;
    position: absolute;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    right: 0;
    left: 0;
    bottom: 100;
    gap: 10px;
    margin: 0 auto;
    padding: 20px 16px;
    background-color: #fff;
  }
  .navbar .catalog-list li {
    /* Desc/Text-Bold/S */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar .catalog-list li:hover {
    color: rgb(255, 102, 51);
  }
  .navbar .nav-list {
    gap: 20px;
    display: none;
  }
  .navbar .nav-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #000;
  }
  .navbar .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #fff;
  }
  .navbar .sidebar ul {
    padding: 20px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #fff;
    left: 0;
  }
  .navbar .sidebar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* Mob/Text/XS */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .navbar .sidebar ul li a {
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .navbar .sidebar ul li i {
    font-size: 20px;
  }
  .navbar .nav-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background-color: #70c05b;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
  }
  .navbar .nav-catalog a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .navbar .nav-search i {
    margin-left: -24px;
  }
  .navbar .nav-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
  }
}
footer {
  background-image: url("../../assets/images/homeimg/footer-bg.png");
  padding: 20px 0;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer a {
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  footer {
    background-image: url("../../assets/images/homeimg/footer-bg.png");
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 20px;
  }
  footer .footer a {
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
}
input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(112, 192, 91);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding: 10px 20px;
  /* Desc/Text/S */
  color: rgb(143, 143, 143);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.card {
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  width: 100%;
}
.card img {
  width: 100%;
}
.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.card-price .cridit-card h2 {
  /* Desc/Text-Bold/M */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.card-price .cridit-card span {
  /* Desc/Text/XS */
  color: rgb(191, 191, 191);
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.card-price .cash-card h2 {
  /* Desc/Text-Bold/M */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.card-price .cash-card span {
  /* Desc/Text/XS */
  color: rgb(191, 191, 191);
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.card h2 {
  /* Desc/Text-Bold/M */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: lef;
  width: 100%;
  color: #ff6633;
}
.card p {
  /* Desc/Text/S */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.card .cards-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  gap: 4px;
  margin: 5px 0;
}
.card .cards-star i {
  color: yellow;
  font-size: 22px;
}
.card .add-button {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Main/Secondary */
  border: 1px solid rgb(112, 192, 91);
  border-radius: 4px;
  background-color: #fff;
  /* Desc/Text/S */
  color: rgb(112, 192, 91);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.card .add-button:hover {
  color: #fff;
  background-color: rgb(112, 192, 91);
}

.herro {
  margin-top: 100px;
  background-image: url("../../assets/images/homeimg/bg-herro.png");
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.herro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.herro-wrapper h1 {
  /* Desc/Header/L */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and ((min-width: 768px) and (max-width: 1200px)) {
  .herro {
    margin-top: 80px;
    background-image: url("../../assets/images/homeimg/bg-herro.png");
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .herro-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .herro-wrapper h1 {
    /* Desc/Header/L */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
}
@media screen and ((max-width: 768px)) {
  .herro {
    margin-top: 0;
    min-height: 100px;
  }
  .herro-wrapper h1 {
    /* Desc/Text-Bold/M */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .herro-wrapper img {
    display: none;
  }
}
.discount {
  margin: 20px 0;
}
.discount-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.discount-nav h2 {
  /* Desc/Header/M */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.discount-nav a {
  /* Desc/Text/S */
  color: rgb(96, 96, 96);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 8px;
}
.discount-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.new-product {
  margin: 20px 0;
}
.new-product .newproduct-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.new-product .newproduct-nav h2 {
  /* Desc/Header/M */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.new-product .newproduct-nav a {
  /* Desc/Text/S */
  color: rgb(96, 96, 96);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 8px;
}
.new-product .new-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.all-product {
  margin: 20px 0;
}
.all-product .allproduct-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.all-product .allproduct-nav h2 {
  /* Desc/Header/M */
  color: rgb(65, 65, 65);
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.all-product .allproduct-nav a {
  /* Desc/Text/S */
  color: rgb(96, 96, 96);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 8px;
}
.all-product .all-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and ((min-width: 768px) and (max-width: 1200px)) {
  .discount {
    margin: 20px 0;
  }
  .discount-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .discount-nav h2 {
    /* Desc/Header/M */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .discount-nav a {
    /* Desc/Text/S */
    color: rgb(96, 96, 96);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  .discount-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .new-product {
    margin: 20px 0;
  }
  .new-product .newproduct-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .new-product .newproduct-nav h2 {
    /* Desc/Header/M */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .new-product .newproduct-nav a {
    /* Desc/Text/S */
    color: rgb(96, 96, 96);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  .new-product .new-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .all-product {
    margin: 20px 0;
  }
  .all-product .allproduct-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .all-product .allproduct-nav h2 {
    /* Desc/Header/M */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .all-product .allproduct-nav a {
    /* Desc/Text/S */
    color: rgb(96, 96, 96);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  .all-product .all-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and ((max-width: 768px)) {
  .discount {
    margin: 20px 0;
  }
  .discount-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .discount-nav h2 {
    /* Desc/Header/M */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .discount-nav a {
    /* Desc/Text/S */
    color: rgb(96, 96, 96);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  .discount-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .new-product {
    margin: 20px 0;
  }
  .new-product .newproduct-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .new-product .newproduct-nav h2 {
    /* Desc/Header/M */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .new-product .newproduct-nav a {
    /* Desc/Text/S */
    color: rgb(96, 96, 96);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  .new-product .new-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .all-product {
    margin: 20px 0;
  }
  .all-product .allproduct-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .all-product .allproduct-nav h2 {
    /* Desc/Header/M */
    color: rgb(65, 65, 65);
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
  .all-product .allproduct-nav a {
    /* Desc/Text/S */
    color: rgb(96, 96, 96);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  .all-product .all-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */