*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 100px;
}

html {
  scroll-behavior: smooth;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgb(229, 229, 229);
  color: rgb(15, 15, 15);
  opacity: 1;
  transition: all 0.8s ease-in-out;
}
.loading-hidden {
  opacity: 0;
  z-index: -1;
}

.backtop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: aqua;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: 0.7s;
}

.backtop-show {
  display: flex;
}
body {
  background: rgb(229, 229, 229);
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 16px;
  }
}
