.herro {
  background-image: url(../assets/images/homeimg/bg-herro.png);
  width: 100%;
  height: 200px;
  background-repeat: repeat;
  background-size: contain;
  .herro-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    h2 {
      font-family: Rubik;
      font-size: 48px;
      font-weight: 700;
      line-height: 72px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}
main {
  .discount {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;

    .discount-title {
      display: flex;
      justify-content: space-between;
      h3 {
        /* Desc/Header/M */
        color: rgb(65, 65, 65);
        font-family: Rubik;
        font-size: 36px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
      }

      button {
        /* Desc/Text/S */
        color: rgb(96, 96, 96);
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        display: flex;
        align-items: center;

        .bx-chevron-right {
          font-size: 24px;
        }
      }
    }

    .discount-products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .discount-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
        background: rgb(255, 255, 255);
        padding: 10px;
        .product-image {
          width: 100%;
          height: 150px;
        }
      }
    }
  }
}
