input {
  box-sizing: border-box;
  border: 1px solid rgb(112, 192, 91);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding: 10px 20px;
  /* Desc/Text/S */
  color: rgb(143, 143, 143);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
